@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;
    --card: #ffffff;
    --card-foreground: #09090b;
    --primary: #18181b;
    --primary-foreground: #fafafa;
    --border: #e4e4e7;
    --destructive: #ef4444;
  }

  .dark {
    --background: #09090b;
    --foreground: #fafafa;
    --card: #18181b;
    --card-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #18181b;
    --border: #27272a;
    --destructive: #7f1d1d;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
}
